interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000
  response:
    body:
      string: '{"feed":{"updated":"2024-03-19T01:45:43.818Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - 211cef0c-67e7-4233-86c4-716bb79ae77d
      CMR-Took:
      - '17'
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
