interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=TELLUS_GRAC_L3_JPL_RL06_LND_v04&page_size=0
  response:
    body:
      string: '{"feed":{"updated":"2023-08-14T17:02:36.801Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=TELLUS_GRAC_L3_JPL_RL06_LND_v04&page_size=0","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '163'
      CMR-Request-Id:
      - 5855d714-8aff-4d0f-b4cc-e556f02ef96a
      CMR-Took:
      - '52'
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=TELLUS_GRAC_L3_JPL_RL06_LND_v04&page_size=163
  response:
    body:
      string: '{"feed":{"updated":"2023-08-14T17:02:40.416Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=TELLUS_GRAC_L3_JPL_RL06_LND_v04&page_size=163","title":"ECHO
        granule metadata","entry":[{"boxes":["-89.5 0.5 89.5 180","-89.5 -180 89.5
        -0.5"],"time_start":"2002-04-04T00:00:00.000Z","updated":"2023-04-17T15:27:21.022Z","dataset_id":"JPL
        TELLUS GRACE Level-3 Monthly Land Water-Equivalent-Thickness Surface Mass
        Anomaly Release 6.0 version 04","data_center":"POCLOUD","title":"GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04","coordinate_system":"CARTESIAN","day_night_flag":"UNSPECIFIED","time_end":"2002-04-30T23:59:59.000Z","id":"G2658326635-POCLOUD","original_format":"UMM_JSON","granule_size":"1.0474653244018555","browse_flag":false,"collection_concept_id":"C2077042612-POCLOUD","online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/data#","title":"Download
        GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc","hreflang":"en-US","href":"https://archive.podaac.earthdata.nasa.gov/podaac-ops-cumulus-protected/TELLUS_GRAC_L3_JPL_RL06_LND_v04/GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/s3#","title":"This
        link provides direct download access via S3 to the granule","hreflang":"en-US","href":"s3://podaac-ops-cumulus-protected/TELLUS_GRAC_L3_JPL_RL06_LND_v04/GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/data#","title":"[...]
