interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.stac?point%5B%5D=-105.78,35.79&temporal%5B%5D=2021-02-01T00:00:00Z,2021-03-01T23:59:59Z&collection_concept_id%5B%5D=C2021957657-LPCLOUD&page_size=2000
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","numberMatched":2,"numberReturned":2,"features":[{"properties":{"datetime":"2021-02-04T17:38:36.830Z","start_datetime":"2021-02-04T17:38:36.830Z","end_datetime":"2021-02-04T17:39:00.717Z","eo:cloud_cover":14},"bbox":[-106.1119251,35.1499121,-104.8915104,36.14489625125828],"assets":{"data3":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B11.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B11.tif"},"data14":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B05.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B05.tif"},"data12":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.SZA.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.SZA.tif"},"data10":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B03.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B03.tif"},"data7":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B10.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B10.tif"},"data8":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.VZA.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.VZA.tif"},"data2":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.VAA.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.VAA.tif"},"browse":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.jpg","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-public/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.jpg","type":"image/jpeg"},"data6":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B09.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B09.tif"},"data4":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B02.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B02.tif"},"data13":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B07.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B07.tif"},"data1":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B06.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B06.tif"},"data9":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.Fmask.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.Fmask.tif"},"data5":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B01.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B01.tif"},"metadata":{"href":"https://cmr.earthdata.nasa.gov:443/search/concepts/G2147556158-LPCLOUD.xml","type":"application/xml"},"data11":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.B04.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.B04.tif"},"data":{"title":"Download
        HLS.L30.T13SDV.2021035T173836.v2.0.SAA.tif","href":"https://data.lpdaac.earthdatacloud.nasa.gov/lp-prod-protected/HLSL30.020/HLS.L30.T13SDV.2021035T173836.v2.0/HLS.L30.T13SDV.2021035T173836.v2.0.SAA.tif"}},"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-106.0982929,35.1499121],[-104.8928408,35.1548427],[-104.8915104,36.1448493],[-106.1119251,36.1397366],[-106.0982929,35.1499121]]]},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json"],"id":"G2147556158-LPCLOUD","stac_version":"1.0.0","collection":"C2021957657-LPCLOUD","links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov:443/search/concepts/G2147556158-LPCLOUD.stac"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov:443/search/concepts/C2021957657-LPCLOUD.stac"},{"rel":"collection","href":"https://cmr.earthdata.nasa.gov:443/search/concepts/C2021957657-LPCLOUD.stac"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov:443/search/"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov:443/search/concepts/G2147556158-LPCLOUD.json"},{"rel":"via","href":"https://cmr.[...]
