interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=0
  response:
    body:
      string: '{"feed":{"updated":"2024-09-24T00:45:14.867Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=0","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - 95aaae10-c2c1-415e-ab1b-e39d72c1744c
      CMR-Took:
      - '18'
      Content-MD5:
      - fe2fe34ab54e973b4946baac7edb81d9
      Content-SHA1:
      - d12857ef6b125313591fedee260dd290ed69bf68
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=0
  response:
    body:
      string: '{"feed":{"updated":"2024-09-24T00:45:15.103Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=0","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - f4ed879a-9980-41b5-b39a-cec2c70a86e5
      CMR-Took:
      - '29'
      Content-MD5:
      - 5e86a5ff09b117c1304748d5b7e2caa2
      Content-SHA1:
      - 7e54a239489dcf4284a25837b3a8590f764e8041
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
