interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000
  response:
    body:
      string: '{"feed":{"updated":"2024-09-24T00:25:07.533Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - a39aed96-a5ea-4980-adb7-1f497fc33822
      CMR-Took:
      - '26'
      Content-MD5:
      - 376262287202a49779a917bf4035ee6a
      Content-SHA1:
      - 425b36da5d29c89e98dea565e9d6b5db2dade8f8
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
