interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000
  response:
    body:
      string: '{"feed":{"updated":"2024-09-24T21:02:33.111Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - 8a1d8d8c-cb9f-4e0f-80f2-9f57008bb394
      CMR-Took:
      - '1071'
      Content-MD5:
      - 412227a734762c2af6c6e9d0b2650f25
      Content-SHA1:
      - 030c0e5a83446a910890627fb233b000ee0d6eb1
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
