interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000
  response:
    body:
      string: '{"feed":{"updated":"2024-09-24T20:34:13.011Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=MOD09GA&version=061&temporal%5B%5D=1990-01-01T00:00:00Z,1990-01-02T00:00:00Z&page_size=2000","title":"ECHO
        granule metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - c2f40fe2-0f51-41d7-94eb-1796e51ef1b6
      CMR-Took:
      - '334'
      Content-MD5:
      - 6198fccb0d7cfed24b43e8aaf7f9ddf2
      Content-SHA1:
      - 5832e1a988939fc9812d593d5ebc37196eecc1c9
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
